name: Dev Workflow - Test Sanity of Commits

on:
  push:
    paths:
      - 'corr/**'
      - 'corr-lib/**'
      - 'corrs/**'
    branches:
      - '*'
jobs:
  build:
    name: Test The Commit
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: dev
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions/checkout@v2
      - run: cargo test --all
    outputs:
      job-status: ${{ job.status }}
  notify-slack:
    name: Notify on slack
    needs: build
    if: always()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Slack Failure
        if: always()
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: ${{ needs.build.outputs.job-status }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: corr-health
